* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    min-height: 100vh;
    background-image: url("https://wallpaperaccess.com/full/783289.jpg");
    background-size: cover;
    background-position: center;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(8px);
}
.ilogo {
    width: 60px;
    margin-right: 0px;
}
.logo {
    margin-left: 0px;
    font-size: 32px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
}
.navbar a {
    position: relative;
    font-size: 18px;
    color: #092428;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a:hover{
    padding: 8px;
    border-radius: 10px;
    background-color: 
    #092428;
    color: white;
}

#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home h1{
    color:    #373a36;
    text-align: center;
}

#home p{
    color:#051622;
    /* color: #373a36; */
    text-align: center;
    font-size: 1.5rem;
}
#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid 

    rgb(9,36,40);
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}


#about {
    padding: 50px 20px;
    background-color: transparent;
    text-align: center;
}

.about-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #faf8f8;
    margin: 20px auto;
    max-width: 800px;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

.primary{
    font-size: 3.8rem;
    padding: 12px;
    /* color: #7c9494; */
    color:#f7cd46;
}

.secondary{
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid #373a36;
    background-color: 
    #092428;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.btn:hover {
    background-color: #092428;
    opacity: 0.8;
}

.center{
    text-align: center;
}
